<li>
	<a class="btn btn-primary" asp-controller="Employee" asp-action="SeachResult">SearchResult</a>
</li>
<br/>
<br/>
<li>
	<a class="btn btn-primary" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>
<br/>
<br/>
<li>
	<a class="btn btn-primary" asp-controller="Employee" asp-action="SearchDynamicSQL">SearchDynamicSQL</a>
</li>