<li>
	<a class="btn btn-primary" asp-controller="Employee" asp-action="SeachResult">SearchResult</a>
</li>
<li>
	<a class="btn btn-primary" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>