<body style="padding: 10px">
	<div class="col-xs-8">
		<div class="panel-heading">
			<h3>Employee Search Form</h3>
		</div>
		<form asp-controller="Employee" asp-action="SearchWithDynamics">
			<div>
				<label for="FirstName">FirstName</label>
				<br />
				<input type="text" name="firstName" placeholder="First name" />
			</div>
			<br />
			<div>
				<label for="LastName">LastName</label>
				<br />
				<input type="text" name="LastName" placeholder="Last name" />
			</div>
			<div>
				<label for="Gender">Gender</label>
				<br />
				<select name="Gender">
					<option value="">--Select Gender--</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>															   
			</div>																	   
			<br />																	   
			<div>																	   
				<label for="Salary">Salary</label>									   
				<br />																   
				<input type="number" name="Salary" placeholder="Salary" />			   
			</div>																	   
			<input type="submit" value="DynamicSQL" />								   
		</form>																		   
		<table class="table table-hover">											   
			<thead>																	   
				<tr>																   
					<th scope="col">FirstName</th>									   
					<th scope="col">LastName</th>									   
					<th scope="col">Gender</th>										   
					<th scope="col">Salary</th>										   
				</tr>																   
			</thead>																   
			<tbody>																	   
				@foreach (var emp in Model)											   
				{																	   
					<tr>															   
						<td>@emp.FirstName</td>										   
						<td>@emp.LastName</td>										   
						<td>@emp.Gender</td>										   
						<td>@emp.Salary</td>										   
					</tr>															   
				}																	   
			</tbody>																   
		</table>																	   
	</div>																			   
</body>																				   
																					   



